#signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
    width: 350px;
    min-height: 500px;
    max-height: 600px;
    background-color: white;
    border: var(--border);
}

#signup-header h1{
    font-family: 'Billabong', sans-serif; 
    text-align: center;
    margin: 40px 0 0 0;
    font-size: 48px;
    color: var(--text-color); 
}

#signup-header h2 {
    color: var(--grey-text);
    font-size: 17px;
    text-align: center;
    padding: 15px 0;
    margin: 0 48px 5px;
    border-bottom: var(--border);
}

#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
}

#signup-form input{
    outline: none;
    border-radius: 3px;
    background-color: var(--grey-bg);
    border: var(--border);
    padding: 9px 0 7px 8px;
    width: 258px;
    height: 38px;
}

#disabled button{
    color: var(--disabled);
}

.errors {
    width: 258px;
    font-size: 12px;
    padding: 9px 0 7px 8px;
    color: red;
}

#submit-signup button{
    margin-bottom: 40px;
}
#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 70px;
    margin: 10px 0 50px 0;
    background-color: white;
    text-align: center;
    border: var(--border);
}

#login a {
    text-decoration: none;
    color: var(--blue-button);
}

#login span {
    border: none;
    margin: 15px;
}

.errors p{
    text-align: center;
}